PROJECT_NAME=myapp-backend
APP_NAME=myapp

APP_AUTH_JWT_SECRET=abcdefg1234567
APP_ADMIN_EMAIL=admin@demo.com
APP_ADMIN_PASSWORD=admin@demo.com
APP_ADMIN_PHONE_NUMBER=+79000000000

# Database Configuration
APP_DB_USER=test
APP_DB_PASSWORD=test
APP_DB_NAME=test

APP_DEBUG=true
APP_ECHO_DB=true

# for local running (no container)
APP_DB_HOST=192.168.0.10
APP_NATS_HOST=192.168.0.10
APP_REDIS_HOST=192.168.0.10